* {
  padding: 0%;
  margin: 0%;
}

.footer--bg {
  background-color: darkred;
}
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: darkred;
}
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
}
main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
}
.titulo {
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(249, 160, 27);
}
.titulo-secundario {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(249, 160, 27);
}
.texto {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(249, 160, 27);
}
